<aside class="w-44 xs:w-64 h-full bg-white rounded-lg overflow-y-auto">

	<header class="sticky top-0 bg-white">
		<h5 class="text-2xl py-[6px] px-4 ">Objects</h5>
		<m4p-field
			[control]="search"
			(input)="searchItem()"
		></m4p-field>
	</header>

	<section *ngIf="!isEmpty; else emptyState">
		<div *ngFor="let item of marker.markers">
			<m4p-item 
				[name]="item.name"
				(onSelect)="select($event)"
				[isSelected]="item.name === selectedItem"
			></m4p-item>
		</div>
	</section>
</aside>

<ng-template #emptyState>
	<div class="w-full h-[calc(100vh-114px)] flex items-center justify-center">
		<p >No objects are available.</p>
	</div>
</ng-template>